body {
    /*font-family: "Open Sans",sans-serif;*/
    font-family: "proxima-nova";
    /*font-weight: 300;*/
    text-rendering: optimizeLegibility;
}

/*#topImage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: url("/images/statueOfLiberty.jpg") no-repeat center -240px;
    height: 40%;
    width: 100%;
}*/

#topImage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: url("../images/statueOfLiberty2.jpg") no-repeat center center;
    height: 42%;
    width: 101%;
    background-size: cover;
}


#resume {
    padding-top: 220px;
}

ul li {
    margin-bottom: -10px;
}

.sectionHeader {
    color: #01256e;
    font-size: 22px;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: #95001a;
    font-size: 16px;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
}

p {
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    color: rgba(26, 26, 26, 0.6);
}

hr {
    color: rgba(26, 26, 26, 0.15);
    height: 1px;
}

.right {
    float: right;
    padding-top: 15px;
}

.padding {
    padding-top: 30px;
}

.center {
    text-align: center;
}

#stackButton {
    padding-top: 20px;
    padding-bottom: 40px;
}

.btn-geckoboard {
  display: inline-block;
  padding: 10px 16px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  border: 2px solid transparent;
  border-radius: 0px;
  -webkit-transition: color 0.3s ease, background 0.3s ease;
  -moz-transition: color 0.3s ease, background 0.3s ease;
  -ms-transition: color 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, background 0.3s ease;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.btn-outline {
  color: #062946;
  background-color: transparent;
  border-color: #062946;
}

.btn-geckoboard:hover {
  -webkit-transition: color 0.3s ease, background 0.3s ease;
  -moz-transition: color 0.3s ease, background 0.3s ease;
  -ms-transition: color 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, background 0.3s ease;
  background-color: #062946;
  color: white;
  text-decoration: none;
}

.btn-geckoboard:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #062946;
    text-decoration: none;
}

#transcript {
  padding-top: 40px;
}

/* Footer */
footer {
    background-color: #062946;
    min-height: 100px;
    text-align: center;
    width: 100%;
}

.glyphicon {
    font-size: 4em;
    cursor: pointer;
    color: white;
    opacity: 1;
    margin-top: 25px;
}

.smallScreen {
  display: none;
}

@media (max-width: 992px) {
  .right, .normal {
    display: none;
  }

  .smallScreen {
    display: inherit;
  }
}

@media (max-width: 400px) {
  #resume {
      padding-top: 0px !important;
  }

  #topImage {
    display: none;
  }
}

/* Social icons fix */
ul.social-network {
  top: 49%;
}